@model PTS.Data.Models.Customer

@{
    ViewData["Title"] = "Xóa khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa khách hàng</h1>
<br />
<h3>Bạn có chắc muốn xóa khách hàng: @Html.DisplayFor(item => item.Name)</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Xóa" class="btn btn-danger" width="200px"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>