@model PTS.Data.Models.Team

@{
    ViewData["Title"] = "Xóa nhóm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa nhóm</h1>
<br />
<h3>Bạn có chắc muốn xóa nhóm: @Html.DisplayFor(item => item.Name)</h3>
<div>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeamId" />
        <input type="submit" value="Xóa" class="btn btn-danger" width="200px"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
