@{
    ViewData["Title"] = "Trang chủ";
}

    <!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 banner-left pt-md-0 pt-5">
                    <h3 class="mb-sm-4 mb-3">Quản lý công việc<br> hiệu quả hơn <span class="type-js"></span></h3>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <h6>Xây dựng ứng dụng quản lý công việc bằng công nghệ .NET</h6><br />
                        <h6>Sinh viên thực hiện: Huỳnh Công Hưng</h6><br />
                        <h6>Giảng viên hướng dẫn: TS. Nguyễn Bảo Ân</h6>
                    </div>
                </div>
                <div class="col-md-6 banner-right mt-md-0 mt-4">
                    <img class="img-fluid" src="~/css/b1.png" alt=" ">
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->
